<ul class="list-unstyled components mb-5">
    <li class="{% if app.current_route == 'app_admin' %}active{% endif %}">
        <a href="{{path('app_admin')}}"><span class="fa fa-home mr-3"></span> Tableau de bord</a>
    </li>
    <li class="{% if app.current_route == 'app_admin_projects' %}active{% endif %}">
        <a href="{{path('app_admin_projects')}}"><span class="fa fa-briefcase mr-3"></span>Projets</a>
    </li>
    <li>
        <a href="#"><span class="fa fa-user mr-3"></span> About</a>
    </li>
    <li>
        <a href="#"><span class="fa fa-briefcase mr-3"></span> Projets</a>
    </li>
    <li>
        <a href="#"><span class="fa fa-sticky-note mr-3"></span> Blog</a>
    </li>
    <li>
        <a href="#"><span class="fa fa-suitcase mr-3"></span> Gallery</a>
    </li>
    <li>
        <a href="#"><span class="fa fa-cogs mr-3"></span> Services</a>
    </li>
    <li>
        <a href="#"><span class="fa fa-paper-plane mr-3"></span> Contacts</a>
    </li>
    <li>
        <a href="{{path('app_logout')}}"><span class="fa fa-sign-out mr-3"></span> Déconnexion</a>
    </li>
</ul>