<!--START FOOTER-->
<footer class="footer bg-light">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-12">
                <div class="text-center text-white footer-alt">
                    <ul class="list-unstyled list-inline mb-0">
                        <li class="list-inline-item">
                            <a target="_blank"
                                href="https://api.whatsapp.com/send?phone=22962790602&text=Bonjour%20Carrel%2C%20je%20vous%20contacte%20depuis%20votre%20site%20web.%20Pourriez-vous%20me%20fournir%20davantage%20de%20d%C3%A9tails%20%C3%A0%20concernant%20vos%20services%20%3F">
                                <i class="mdi mdi-whatsapp"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" target="_blank">
                                <i class="mdi mdi-linkedin"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/increase_your_brand/" target="_blank">
                                <i class="mdi mdi-instagram"></i>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright_content mb-0 mt-3">
                        &copy;
                        <a href="http://rostand-migan.com" target="_blank" id="copyright" class="text-light">
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--END FOOTER-->


<!-- Back To Top -->
<a href="#" class="back_top"> <i class="mdi mdi-chevron-up"> </i> </a>