{% extends 'base.html.twig' %}

{% block title %}Projets ak58graph{% endblock %}
{% block metaTitle %}Projets ak58graph{% endblock %}
{% block body %}
<!-- START HOME -->
<section class="section header-bg-img h-10vh align-items-center d-flex pb-0">
    <div class="bg-overlay"></div>
    <div class="container z-index">
        <div class="row justify-content-start">
            <div class="col-lg-12">
                <div class="header-content">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{path('app_main')}}" class=" text-white">Accueil</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Portfolio</li>
                        </ol>
                    </nav>

                    <h4 class="text-white">ak58graph</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END HOME -->

<!-- START WORK -->
<section class="section text-center py-4" id="portfolio" data-turn-bg-dark>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="">
                    <h2 class="text-center custom-title"><span class="fw-bold">Tous les projets ak58graph</span></h2>
                    <p class="text-muted mx-auto mt-3" data-turn-text-white>Bienvenue dans mon portfolio, où l'art
                        de la
                        créativité prend vie. Explorez un échantillon de mes projets passés, un
                        voyage visuel à travers une variété de réalisations qui illustrent ma passion pour la
                        conception graphique et la
                        création numérique.</p>
                </div>
            </div>
        </div>
        <div class="row mt-5 ">
            <ul class="col list-unstyled list-inline mb-0 text-uppercase work_menu" id="menu-filter">
                <li class="list-inline-item"><a class="active" data-filter="*" data-turn-text-white>Tout</a></li>
                <li class="list-inline-item"><a class="" data-filter=".entreprises" data-turn-text-white>Entreprises</a>
                </li>
                <li class="list-inline-item"><a class="" data-filter=".evenements" data-turn-text-white>Evènements</a>
                </li>
                <li class="list-inline-item"><a class="" data-filter=".organisme" data-turn-text-white>Organisme</a>
                </li>
                <li class="list-inline-item"><a class="" data-filter=".ui" data-turn-text-white>UI/UX</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row mt-4 work-filter">
            {% include '_partials/_show_project.html.twig' %}
        </div>
    </div>
</section>
<!-- END WORK -->
{% endblock %}