{% extends 'admin.html.twig' %}

{% block title %}Dashboard | ak58graph{% endblock %}

{% block body %}

{% set showForm = "visible" %}
{% if app.current_route == 'app_admin_projects' %}
{% set showForm = "invisible" %}
{% endif %}

<div id="container" class="px-4 px-md-5 py-0">
    <h2 class="mb-4">
        {% if app.current_route == 'app_admin_projects' %}
        Projets
        {% else %}
        Modifier un projet
        {% endif %}
    </h2>
    <p>
        Gestion des Projets
    </p>
    <div>
        {% if app.current_route == 'app_admin_edit_projects' %}
        <a class="btn btn-primary" type="button" href="{{path('app_admin_projects')}}">
            Ajoutez un projet
        </a>
        {% endif %}
        <a class="btn btn-primary" type="button" href="{{path('app_admin')}}">
            Tableau de bord
        </a>
    </div>
    {% if form_errors(addProject) %}
    <div class="alert alert-warning">
        {{ form_errors(addProject) }}
    </div>
    {% endif %}
    <hr>
    <div class="row justify-content-center" id="addProject">
        {% include "_partials/_admin_form.html.twig" %}
    </div>
</div>
<script>
    function toggleAddProjectForm() {
        let projectForm = document.getElementById('addProject');
        console.log(projectForm);
        projectForm.classList.toggle("invisible");
    }
</script>
{% endblock %}